/***************/
/* Email Form */
/**************/
.email-form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.email-label {
  display: block;
  font-size: 0.9rem;
  font-weight: 500;
}
.email-label-hero {
  color: var(--clr-light-gray);
}
.email-label-footer {
  color: #fff;
}
.input-btn-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 330px;
}
.email-input {
  width: 100%;
  padding: 0.5rem;
  padding-right: 2rem;
  border: 1px solid #333;
  background-color: #f5f3f3;
  border-radius: 12px;
}
.btn-submit {
  position: absolute;
  right: 0;
  z-index: 1;
  padding: 0.6em 1em;
  background-color: var(--clr-light-blue);
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn-submit:hover,
.btn-submit:focus {
  background-color: var(--clr-dark-blue);
  cursor: pointer;
}
@media (min-width: 1200px) {
  .email-form-container {
    width: 30%;
  }
}
